<div class="container padding text-center mt-4">
  <div class="todo-box">
    <div class="input-box">
      <input type="text" class="todo-input" placeholder="What needs to be done" [(ngModel)]="todoTitle"
        (keyup.enter)="addTodo()">
    </div>

    <div class="todo-item-box mt-4">
      <div class="todo-item " *ngFor="let todo of todos">
        <!-- <div class="row"> -->
          <!-- <div class="todo-item-left"> -->
            <input type="checkbox" v-model="todo.completed" (click)="updateCompleted(todo.id)">
            <span class="todo-item-label" (dblclick)="editTodo(todo.id)" *ngIf="!todo.editing; else editingTodo">
              {{todo.title}}
            </span>
            <ng-template #editingTodo>
              <input type="text" class="todo-item-edit" [(ngModel)]="todo.title" autofocus
                (keyup.enter)="updateTitle(todo.id, todo.title)">
            </ng-template>
          <!-- </div> -->
          <span class="remove-item ml-5" (click)="deleteTodo(todo.id)">&times;</span>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>